<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bulletin/Circular/Manual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-item >
    <ion-label>Category</ion-label>
    <ion-select interface="popover" [(ngModel)]="selectedView" >
      <ion-select-option value="Bulletin" >Bulletin</ion-select-option>
      <ion-select-option value="Circular">Cabin Crew Circular Information</ion-select-option>
      <ion-select-option value="Concern">Cabin Crew Concern Manual and Document</ion-select-option>
      <ion-select-option value="Manufacturer">Manufacturer Manuals</ion-select-option>
      <ion-select-option value="Pilot Circular">Pilot Circular</ion-select-option>
      <ion-select-option value="Company Manuals">Company Manuals</ion-select-option>
    </ion-select>
  </ion-item>

  <div [ngSwitch]="selectedView">
    <div *ngSwitchCase="'Bulletin'">
      <ion-list>
        <ion-item button *ngFor="let pdf of pdfs" [routerLink]="['/', 'pdflists', pdf.attach_pdf_id]" >
          <ion-avatar slot="start">
            <img src="assets/unnamed.png">
          </ion-avatar>
          <ion-label>
            <p>Upload date:{{ pdf.attach_pdf_datetime }}</p>
            <p>By:{{ pdf.admin_type }}</p>
            <p>Category:</p>
            <p>Description: {{pdf.attach_pdf_description}}</p>
            <p>Download date: {{pdf.download_pdf_date}}</p>
            
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
