<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="developers"></ion-back-button>
    </ion-buttons>
    <ion-title>PDF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngIf="pdf">
    <img src="/assets/icon/179483.png" />
    <ion-card-header>
      <ion-card-subtitle>Upload Date: {{pdf.attach_pdf_datetime}}</ion-card-subtitle>
      <ion-card-subtitle>By: {{pdf.admin_type}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Description: {{pdf.attach_pdf_description}}
    </ion-card-content>
      <ion-button expand="block" color="danger" (click)="DownloadPDF(pdf.attach_pdf_path,pdf.attach_pdf_description)" >DownloadPDF</ion-button>
      <ion-button expand="block" color="danger" (click)="OpenPDF(pdf.url_path)">OpenPDF</ion-button>
  </ion-card>
</ion-content>
